/**
	Autoria: Isabela Andrade
	Folha de Estilo
	Cor base: #0089B7, #0089B7
**/

strong {
	color:#0089B7;
}

body {
	color:#696969;
	font-family: 'Bookman', sans-serif;
	background:#fff;
}

/*** SCROLLBAR ***/

	::-webkit-scrollbar {width:5px; height:10px; overflow-x: hidden }
    ::-webkit-scrollbar-thumb:vertical {height:10px; background-color:#0089B7; opacity:.5; } 
    ::-webkit-scrollbar-thumb:horizontal {overflow-x: hidden }
	
/* LINKS EM GERAL */
	
a {
color:#0089B7;	
text-decoration:none;
transition:0.5s ease-in; 
-moz-transition:0.5s ease-in; 
-webkit-transition:0.3s ease-in; 

}	

a:hover{opacity:0.5}

/* HEADLINGS */

h1 {
	color:#0089B7;
	font-family: 'Jura', sans-serif;
	margin-top:50px;
	text-align:center;
}

h2 {	
	color:#696969;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	}
	
h3 {
	color:#0089B7;
	font-family: 'Open Sans Condensed', sans-serif;
}	

/* BOTOES */

button {
	width:70px;
	text-align:center;
	background-color:#0089B7;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:none;
	border-top:1px #d5d5d5 solid;
	border-bottom:2px #b5b5b5 solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:5px;
	text-decoration:none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:15px;	
	transition:0.5s ease-in; 
	-moz-transition:0.5s ease-in; 
	-webkit-transition:0.3s ease-in; 
}
	button:hover {
		opacity:.5;
	}

	button a {
		color:#fff;
		font-family: 'Open Sans Condensed', sans-serif;
			
	}
	
	

/* HEADER */

header {
	width:100%;
	height:215px;
	position:absolute;
	padding:5px;
	left:0;
	top:0;
	background:#fff;
	background-image: url('Imagens/logo.png');
	background-position: top center;
	background-repeat:no-repeat;
	background-size:auto 215px;	
}

.bordaheader {
	width:550px;
	height:200px;
	position:absolute;
	padding:5px;
	left:0;
	top:0;
	background:#fff;
	background-image: url('Imagens/borda.png');
	background-position: top left;
	background-repeat:no-repeat;
	background-size:auto auto;
}

.bordaheader2 {
	width:550px;
	height:200px;
	position:absolute;
	padding:5px;
	right:0;
	top:0;
	background:#fff;
	background-image: url('Imagens/borda.png');
	background-position: top right;
	background-repeat:no-repeat;
	background-size:auto auto;
	transform: rotate(180deg);
	
	
}



/* MENU */

nav {
	width:100%;
	height:auto;
	top:210px;
	position:absolute;
	padding:5px;
	left:0;
	z-index:5;
	background:#e8e8e8;
	text-align:center;
	margin:auto;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
	position: fixed;
    width: 100%;
}


	nav a {
		color:#0089B7;
		text-transform:uppercase;
		text-align:center;
		width:auto;	
		margin: 0 30px 0 30px;
		padding:5px;
		font-weight:bold;
		font-family: 'Open Sans Condensed', sans-serif;
	}
	
	nav a:hover {
		color:#696969;
	}

/* CAIXAS */

.caixas {
	position:absolute;
	top:238px;
	left:0;
	width:100%;
}

#caixa {
	width:100%;
	height:auto;
	position:relative;
	padding:15px;
	margin:5px;
	left:0;
	background:#f1f1f1;
	text-align:center;
	margin:auto;
}

#caixa a {
	color:#0089B7;
}

#caixa a:hover {
	color:#696969;
}

#caixawhite {
	width:100%;
	height:auto;
	position:relative;
	padding:15px;
	margin:5px;
	left:0;
	background:#ffffff;
	text-align:center;
	margin:auto;

}

/** INFOS **/

.infobg {
	width:100%;
	background:#f1f1f1;

}

.informacoes {
	width:50%;
	position:relative;
	padding:5px 5px 50px 5px;
	left:0;
	background:#f1f1f1;
	text-align:justify;
	margin:auto;

}

.informacoes form {
	margin:auto;
	width:50%
}
	
.informacoes img.i1 {
	width:50px;
	height:50px;
	margin:5px;
	float:left;
}

.informacoes img.i2 {
	width:50px;
	height:50px;
	margin:5px;
	float:right;
}

/* PROJETOS */

.projetos {
	width:100%;
	position:relative;
	padding:5px 5px 50px 5px;
	background:#fff;
	text-align:center;
	margin:auto;


}

.project {
	width:20%;
	margin:30px;
	display:inline-block;

}

.project  img.proj {
	width:150px;
	height:150px;
	margin:5px;
	border-radius:100%;
}

.project p{
	height:70px;
	overflow:auto;
	padding:5px;
	border-bottom: 1px #f1f1f1 solid;
	text-align:justify;
	margin:auto;
	margin-top:-15px;
}

.proj img{
	width:300px;
	margin:5px;
	margin-bottom:15px;
}
.proj p {
	width:68%;
	margin:auto;
	text-align:justify;
}

/* EQUIPE */

.equipe {
	width:100%;
	height:auto;
	position:relative;
	padding:15px;
	margin:5px;
	left:0;
	background:#f1f1f1;
	text-align:center;
	margin:auto;

}


.membro {
	width:20%;
	margin:30px;
	display:inline-block;

}

.membro img.eq {
	width:150px;
	height:150px;
	margin:5px;
}

.membro p{
	height:70px;
	overflow:auto;
	padding:5px;
	border-bottom: 1px #f1f1f1 solid;
	text-align:justify;
	margin:auto;
	margin-top:-15px;
}



/* FOOTER */

footer {
	width:100%;
	height:auto;
	position:absolute;
	padding:5px;
	left:0;
	background:#fff;
	color:#696969;
	padding:5px;
	text-align:center;
	margin-top:10px;
	padding-bottom:50px;
}

footer h2 {
margin-left:50px;
color:#696969 !important;
}

footer .bloco {
	width:22%;
	display:inline-block;
	margin:auto; 
	height:250px;
	overflow:auto;
	
}	

.bloco li {
	margin:auto;
	text-align:center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:bold;
	list-style-type: none;
	border-bottom: 1px #eee solid;
	-webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}


.bloco li:hover {
	text-indent:5%;
}


footer h2 {
	color:#0089B7;
	text-align:center;
	
}



/** CREDITOS **/

.disclaimer {
	text-align:center;
	width:100%;
	height:auto;
	background:#696969;
	color:#ffffff;
	position:absolute;
	bottom:0;
	left:0;
	font-family: 'Open Sans Condensed', sans-serif;
}



/* SELECAO COLORIDA  */

::selection {
	color:#ffffff; 
	background:#0089B7
	}; 

